node_modules
dist
coverage
.turbo
.DS_Store
*.local
.env
.env.*
!.env.example
.terraform
*.tfstate
*.tfstate.*
*.tfplan
tfplan
infra/tfplan
crash.log
.idea
.vscode/*
!.vscode/extensions.json
.mf
test-results
playwright-report
blob-report
**/e2e/.results
apps/*/index.html

*.tsbuildinfo
